body {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 16px;
  color: $darkColor;

  background-color: $lightColor;
}

.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 400px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 924px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1325px;
  }
}

.main {
  &-title {
    font-weight: 600;
    font-size: 39px;
    line-height: 1.33;
    text-align: center;
    color: $darkColor;
  }
}
