.benefits {
  padding-top: 36px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 100px;
  }

  &-content {
    border-radius: 12px;
    background-color: #f4f4f4;
    padding: 0 20px;

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 100px;
      padding: 0 100px;
    }
  }

  &-left {
    padding: 70px 0;
  }

  &-img {
    margin-top: auto;
    align-self: flex-end;
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  &-title {
    margin-bottom: 40px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px 53px;

    &-item {
      max-width: 255px;
    }

    &-icon {
      width: 58px;
      height: 58px;

      background-color: $greenColor;
      border-radius: 9px;

      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 auto;
      margin-bottom: 20px;

      & svg {
        fill: $lightColor;
      }
    }

    &-descr {
      line-height: 1.5;
      text-align: center;

      margin: 0 auto;
    }
  }
}
