.eat {
  padding-top: 36px;

  &-content {
    background-color: #f4f4f4;
    border-radius: 12px;
    padding: 62px 20px 43px;

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 100px;
      padding: 81px 70px 112px;
    }
  }

  &-img {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  &-title {
    margin-bottom: 41px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    &-icon {
      width: 57px;
      height: 57px;
      border-radius: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ebbfae;

      margin: 0 auto;
      margin-bottom: 20px;

      & svg {
        fill: $darkColor;
      }
    }

    &-descr {
      max-width: 237px;

      line-height: 1.5;
      text-align: center;

      margin: 0 auto;
    }
  }
}
