.fresh {
  padding-top: 36px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }

  &-container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }

  &-img {
    margin-bottom: 36px;
    @media screen and (min-width: 768px) {
      max-width: 425px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      max-width: 670px;
    }
  }

  &-title {
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &-descr {
    line-height: 1.5;
    text-align: center;

    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;

    &-item {
      display: flex;
      align-items: center;
      gap: 23px;
    }

    &-icon {
      flex-shrink: 0;
      fill: $greenColor;
    }

    &-descr {
      line-height: 1.5;
      color: $greenColor;
    }
  }
}
